.dco-shop-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 21px;

  .dco-shop-item_image-wrapper {
    position: relative;
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      inset: 0;
    }
  }

  .dco-shop-item_image-overlay {
    opacity: 0;
  }

  &:hover {
    .dco-shop-item_image-wrapper {
      img {
        transform: scale(1.1);
      }
    }
    .dco-shop-item_image-overlay {
      opacity: 1;
    }
  }
}

.dco-shop-item,
.dco-shop-item *,
.dco-shop-item:hover,
.dco-shop-item:hover * {
  transition: all 0.3s ease-in-out;
}

.dco-shop-item_title {
  font-family: "Neue Plak Extended";
  font-weight: bold;
}
