@font-face{
  font-family: "NeuePlakExtendedBold";
  src: url("./fonts/Neue-Plak-Extended-Bold.ttf") format("truetype");
}

@font-face{
  font-family: "NBInternationalMono";
  src: url("./fonts/NB-International-Mono.ttf") format("truetype");
}

@font-face{
  font-family: "NBInternationalProLight";
  src: url("./fonts/NB-International-Pro-Light.otf") format("opentype");
}

@font-face{
  font-family: "NBInternationalRegular";
  src: url("./fonts/NB-International-Regular.ttf") format("truetype");
}

@font-face{
  font-family: "NeuePlakBold";
  src: url("./fonts/NeuePlakBold.otf") format("opentype");
}

.NavBar div a{
  text-decoration: none;
  color: #000000;
}

.NavBar div a:hover{
  border-bottom-width: 2px;
  border-bottom-style: solid;
  color: #000000;
}

.heading{
  font-family: "NeuePlakExtendedBold", sans-serif;
  font-size: 56px;
}

.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: none;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: 1px blue solid;
}
.menu-item.active {
  border: 1px green solid;
}
 
.scroll-menu-arrow {
  padding: 20px;
  cursor: pointer;
}

.members a img{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  height: 350px;
  width: 350px;
}

.members a:hover img{
  filter: none;
}

.memberName{
  font-size: 24px;
  font-family: "NeuePlakBold", sans-serif;
  letter-spacing: 0.04em;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.positionName{
  font-family: "NBInternationalProLight", sans-serif;
  font-size: 18px;
  letter-spacing: 0.02rem;
  margin-bottom: 1rem;
}

.year{
  font-family: "NBInternationalMono", sans-serif;
  font-size: 12px;
  letter-spacing: 0.02rem;
  margin-bottom: 3rem;
}