@import "./Reset.scss";
@import "./constants.scss";
@import "./Typography.scss";

/************************* BASE ***************************/

html,
body {
  height: 100%;
  position: relative;
}

// Sticky footer
#content {
  min-height: calc(100vh - #{$spacer2} - 3rem);
}

.outerContainer {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 $spacer2 0 $spacer2 !important;
}

.innerContainer {
  @media screen and (min-width: $md) {
    padding: 0 $spacer3 0 $spacer3;
  }
}

/************************* NAV + FOOTER ***************************/

.nav {
  text-align: right;
}

.footerLinks {
  text-align: center;
  @media screen and (min-width: $lg) {
    text-align: right;
  }
}

.nav,
.footerLinks {
  list-style: none;
  margin-top: -0.3rem;
  li {
    display: inline-block;
    &:not(:first-child) {
      margin-left: $spacer2;
      @media screen and (max-width: $sm) {
        margin-left: 1.9rem;
      }
    }
  }
  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    @media (hover: hover) {
      &:hover {
        opacity: 0.5 !important;
      }
    }
  }
}

.logo {
  transition: 0.3s;
  @media (hover: hover) {
    &:hover {
      opacity: 0.5 !important;
    }
  }
}

/************************* HOME ***************************/

.events {
  img {
    width: 100%;
  }
}

/************************* BUTTONS ***************************/

.button {
  text-decoration: none;
  padding: 2rem 3rem;
  white-space: nowrap;
  border-style: solid;
  border-width: 0.2rem !important;
  cursor: pointer;
  transition: 0.3s;
  @media (hover: hover) {
    &:hover {
      background-color: transparent !important;
      color: inherit !important;
    }
  }
}

/************************* ABOUT ***************************/
.members a img {
  -webkit-filter: grayscale(100%); /* safari6.0 - 9.0  */
  filter: grayscale(100%);
  width: 100%;
  transition: 0.3s;
}

.members a:hover img {
  filter: none;
}

.scrollWrapper {
  overflow-y: hidden;
  height: 40rem;
}
.scrollContainer {
  overflow-y: hidden;

  overflow-x: auto;
  white-space: nowrap;
  cursor: ew-resize;
  height: 41.5rem;
  margin-left: $spacer2;
  @media screen and (min-width: $md) {
    margin-left: calc(#{$spacer2 + $spacer3});
  }
}

.imageDiv {
  height: 100%;
  display: flex;
  //align-items: center;
  img {
    -webkit-filter: grayscale(100%); /* safari6.0 - 9.0  */
    filter: grayscale(100%);
    height: 100%;
    margin-right: $spacer2;
    &:nth-child(3n -1) {
      height: 70%;
    }
    &:nth-child(3n) {
      height: 85%;
    }
  }
}
