@import "./Reset.scss";
@import "./constants.scss";
@import "./Typography.scss";

/************************* BASE ***************************/

html,
body {
  height: 100%;
  position: relative;
}

// Sticky footer
#content {
  min-height: calc(100vh - #{$spacer2} - 3rem);
}

.outerContainer {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 0 $spacer2 0 $spacer2 !important;
}

.innerContainer {
  @media screen and (min-width: $md) {
    padding: 0 $spacer3 0 $spacer3;
  }
}

/************************* NAV + FOOTER ***************************/

.nav {
  text-align: right;
}

.footerLinks {
  text-align: center;
  @media screen and (min-width: $lg) {
    text-align: right;
  }
}

.nav,
.footerLinks {
  list-style: none;
  margin-top: -0.3rem;
  li {
    display: inline-block;
    &:not(:first-child) {
      margin-left: $spacer2;
    }
    @media screen and (max-width: 400px) {
      h4 {
        font-size: 70%;
      }
      &:not(:first-child) {
        margin-left: 2.4rem;
      }
    }
  }
  a {
    text-decoration: none;
    margin: 0;
    padding: 0;
    transition: 0.3s;
    @media (hover: hover) {
      &:hover {
        opacity: 0.5 !important;
      }
    }
  }
}

.logo {
  transition: 0.3s;
  @media (hover: hover) {
    &:hover {
      opacity: 0.5 !important;
    }
  }
}

/************************* HOME ***************************/

.splashTitle {
  @media screen and (min-width: $md) {
    font-size: 6.5vw;
  }
  @media screen and (min-width: 1200px) {
    font-size: 8.5rem;
    max-width: 120rem;
  }
}
.events {
  img {
    width: 100%;
    transition: 0.3s;
    &:hover {
      transform: scale(0.95);
    }
  }
}

/************************* BUTTONS ***************************/

.button {
  text-decoration: none;
  padding: 1.7rem 2.4rem 1.5rem;
  white-space: nowrap;
  border-style: solid;
  border-width: 0.2rem !important;
  cursor: pointer;
  position: relative;
  z-index: 1;
  @media (hover: hover) {
    &:hover {
      .shadow {
        opacity: 0.2;
      }
    }
  }
  .shadow {
    transition: 0.3s;
    border-style: solid;
    border-width: 0.2rem;
    position: absolute;
    left: 0.8rem;
    top: 0.8rem;
    display: inline-block;
    height: 100%;
    width: 100%;
    z-index: -1;
  }
}

/************************* ABOUT ***************************/

.members a img {
  -webkit-filter: grayscale(100%); /* safari6.0 - 9.0  */
  filter: grayscale(100%);
  width: 100%;
  transition: 0.3s;
  &:hover {
    filter: none;
    transform: scale(0.95);
  }
}

.scrollWrapper {
  overflow-y: hidden;
  height: 40rem;
}
.scrollContainer {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  cursor: ew-resize;
  height: 41.5rem;
  margin-left: $spacer2;
  @media screen and (min-width: $md) {
    margin-left: calc(#{$spacer2 + $spacer3});
  }
}

.imageDiv {
  height: 100%;
  display: flex;
  //align-items: center;
  img {
    -webkit-filter: grayscale(100%); /* safari6.0 - 9.0  */
    filter: grayscale(100%);
    height: 100%;
    margin-right: $spacer2;
    &:nth-child(3n -1) {
      height: 70%;
    }
    &:nth-child(3n) {
      height: 85%;
    }
    &:last-child {
      padding-right: $spacer2;
    }
  }
}
