@font-face {
  font-family: "Neue Plak Extended";
  src: url("../fonts/NeuePlak-ExtendedBold.woff2") format("woff2"),
    url("../fonts/NeuePlak-ExtendedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "NB International Mono";
  src: url("../fonts/NBInternationalMonoWebfont.woff2") format("woff2"),
    url("../fonts/NBInternationalMonoWebfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NB International Pro";
  src: url("../fonts/NBInternationalPro-Lig.woff2") format("woff2"),
    url("../fonts/NBInternationalPro-Lig.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 7px;
  @media screen and (min-width: $sm) {
    font-size: 8px;
  }
  @media screen and (min-width: $md) {
    font-size: 9px;
  }
}

body {
  font-family: "NB International Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.5;
  letter-spacing: 0.02rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Neue Plak Extended", Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 0.04rem;
  line-height: 1.2;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

a {
  color: inherit;
}

.steps {
  font-family: "Neue Plak Extended", Arial, sans-serif;
}

.roles a {
  font-family: "Neue Plak Extended", Arial, sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.apply {
  font-family: "NB International Pro", Arial, sans-serif;
  text-transform: uppercase;
  & a {
    font-size: 1.5rem;
    line-height: normal;
  }
}

.a-show, .a-hidden {
  font-family: "NB International Pro", Arial, sans-serif;
}

.faq-item {
  font-family: "Neue Plak Extended", Arial, sans-serif;
}

.text_small {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.text_caption {
  font-family: "NB International Mono", monospace;
  font-size: 1.3rem;
  line-height: 1.4rem;
  text-transform: uppercase;
}
