@import "./Fonts.scss";

.timeline-bg {
  background-color: black;
  height: 100%;
  padding: 2% 0;
}

.container {
  width: calc(100% - 60px);
  margin: auto;
}

.about-row {
  margin-bottom: 70px;
}

.header-dark {
  color: white;
}

p {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

.paragraph-text-dark {
  font-size: 1.25rem;
  letter-spacing: 2%;
  line-height: 1.6;
  font-weight: 300;
  font-family: "NB International Pro";
  color: white;
}

.timeline-title {
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Neue Plak Extended";
  font-size: 1.5rem;
}

.timeline-date {
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Neue Plak Extended";
  font-size: 1.25rem;
}
